.verdana100FFFFFFt{
font-family:Verdana;font-size:10pt;color:#000000;text-decoration:none;
}
.verdana120FFFFFFtb{
font-family:Verdana;font-size:12pt;color:#000000;font-weight:bold;text-decoration:none;
}
.verdana100FFFFFFtb{
font-family:Verdana;font-size:10pt;color:#000000;font-weight:bold;text-decoration:none;
}
.verdana100FFFFFFtu{
font-family:Verdana;font-size:10pt;color:#000000;text-decoration:underline;
}

